.element{
  margin-right: 25px;
  font-size: 80px;
}

.pointer {
  cursor: pointer;
}

.path{
  font-family: 'Nunito';
  font-size: 25px;
}

.dir{
  text-align: center;
  font-style: italic;
  margin-bottom: -20px !important;
}
