/*
Flaticon icon font: Flaticon
Creation date: 26/01/2020 20:00
*/

@font-face {
  font-family: "Flaticon";
  src: url("../assets/icons/Flaticon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-next:before { content: "\f100"; }
.flaticon-back:before { content: "\f101"; }
.flaticon-analyze:before { content: "\f102"; }
.flaticon-data:before { content: "\f103"; }
.flaticon-web-programming:before { content: "\f104"; }
.flaticon-checklist:before { content: "\f105"; }
.flaticon-technical-support:before { content: "\f106"; }
.flaticon-contract:before { content: "\f107"; }
.flaticon-website:before { content: "\f108"; }
.flaticon-global:before { content: "\f109"; }
.flaticon-test:before { content: "\f10a"; }
.flaticon-checklist-1:before { content: "\f10b"; }
.flaticon-steps:before { content: "\f10c"; }
.flaticon-steps-1:before { content: "\f10d"; }
.flaticon-purse:before { content: "\f10e"; }
.flaticon-import:before { content: "\f10f"; }
.flaticon-import-1:before { content: "\f110"; }
.flaticon-import-2:before { content: "\f111"; }

$font-Flaticon-next: "\f100";
$font-Flaticon-back: "\f101";
$font-Flaticon-analyze: "\f102";
$font-Flaticon-data: "\f103";
$font-Flaticon-web-programming: "\f104";
$font-Flaticon-checklist: "\f105";
$font-Flaticon-technical-support: "\f106";
$font-Flaticon-contract: "\f107";
$font-Flaticon-website: "\f108";
$font-Flaticon-global: "\f109";
$font-Flaticon-test: "\f10a";
$font-Flaticon-checklist-1: "\f10b";
$font-Flaticon-steps: "\f10c";
$font-Flaticon-steps-1: "\f10d";
$font-Flaticon-purse: "\f10e";
$font-Flaticon-import: "\f10f";
$font-Flaticon-import-1: "\f110";
$font-Flaticon-import-2: "\f111";
