.navbar{
  border: 0 !important;
  font-size: 17px;
  transition: all 0.4s;
  padding: 0;
  background: #FFFFFF;
  font-family: "Nunito";
  .nav-link {
    [class^="fi"] {
      top: 0px;
      font-size: 24px;
    }
  }
  .navbar-brand{
    font-weight: 600;
    margin: 5px  0px;
    padding: 20px 15px;
    font-size: 18px;
    color: #66615B;
    text-transform: uppercase;
  }
  .navbar-nav{
    .nav-item .nav-link {
      line-height: 1.6;
      margin: 9px  0px;
      padding: 10px 15px;
      opacity: .8;
      font-size: 18px;
      font-weight: 600;
      color: #66615B;
    }
  }
}
.btn{
  margin: 7px 3px;
  font-size: 17px;
}

.separate{
  margin-bottom: 100px;
}


#iconBtn{
  font-size: 23px;
  padding: -5px;
}
